{% extends "base.html" %}
{% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="col s12 m7">
          <h2 class="header center">Sobre o Projeto</h2>
          <div class="card horizontal">
            <div class="card-image">
              <img src="../../static/images/summaeh.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>O Summaê (do latim, Summae = Somas, do popular: sinal circunflexo = chapéu) foi desenvolvido em reação
                    às aulas tradicionais de exercícios realizando um trabalho específico no conteúdo de técnicas de integração.</p>
              </div>
              <div class="card-action">
                <a href="https://www.facebook.com/groups/502295913133367/">Fique por dentro das novidades. Acesse nossa página no Facebook!</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <br>
  </div>

{% endblock %}
