{% extends "base.html" %}
{% block content %}
<style type="text/css">
  #video {
    text-align: center;
    border: 1px solid black;
    min-height: 200px;
    margin-right: 20px;
    margin-top: 50px;
  }
</style>

  <div id="index-banner" class="parallax-container" style="height: 200px">
    <div class="parallax-container"><img src="../../static/images/books.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

        <br><br>
        <h1 class="header center teal-text text-lighten-2">Summaê</h1>
        <br><br>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">import_contacts</i></h2>
            <h5 class="center">Aprenda se divertindo</h5>

            <p class="light">Aprenda o conteúdo de uma forma divertida e prazerosa.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">wb_incandescent</i></h2>
            <h5 class="center">Estimule sua criatividade</h5>

            <p class="light">Crie vídeos divertidos do conteúdo abordado e mostre seu potencial!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">tag_faces</i></h2>
            <h5 class="center">Simples e eficiente</h5>

            <p class="light">Aulas totalmente diferente das tradicionais podendo ser aplicada em diversas áreas da eduação.</p>
          </div>
        </div>
      </div>

    </div>
    <hr>
  </div>

  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
  
        <div class="container">
            <div class="section">
              <div class="row">
                <div class="col s12 center">
                  <h3><i class="mdi-content-send brown-text"></i></h3>
                  <h4>Vídeo Mais Recente</h4>
                  <div class="video-container">
                      <iframe width="853" height="480" src="{{ video.link }}" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
  
                  <div class="col s12 m4 l8">
                    <div class="card teal darken-1">
                      <div class="card-content white-text center">
                        <span class="card-title">{{ video.name }}</span>
                        <p>{{ video.description }}</p>
                      </div>
                    </div>
                  </div>
    
            </div>
          </div>
            <hr>
      </div>
    </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Como Aplicar</h4>
          <video class="responsive-video" controls>
              <source src="../../static/images/exp.mp4" type="video/mp4">
            </video>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

<script type="text/javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
